* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
  background-color: #eee;
  display: grid;
  place-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  border: 1px solid #090;
  color: #090;
  padding: 1rem;
  border-radius: .25rem;
}